@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,600&display=swap");

a {
  text-decoration: none;
}

.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

aside a {
  margin-left: 30px;
  font-weight: 500;
  font-size: 15px;
  color: #344563;
}

.logo a {
  height: 20px;
  width: 76px;
  top: 10px;
  left: 12px;
  font-weight: 700;
  color: #6070ff;
  font-size: 18px;
}

aside {
  margin-left: 30px;
}

.hamburger {
  display: none;
}

.section-two {
  position: absolute;
  top: 30%;
  left: 15%;
  right: 15%;
  align-items: center;
  margin: auto;
}

.title {
  font-size: 42px;
  font-weight: 700;
  height: 122px;
  width: 920px;
}

.description {
  height: 98px;
  width: 920px;
  top: 134px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  position: relative;
}

.description h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin-bottom: 0%;
}

.socials {
  position: static;
  width: 150px;
  height: 24px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .section-one {
    margin: auto;
    width: 327px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .section-two {
    position: absolute;
    width: auto;
    top: 5%;
    background-image: url(header-shapesmobile.png);
    background-size: cover;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
  }

  .title {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    height: 100px;
    width: auto;
    left: 24px;
    margin: 0%;
    padding: 0%;
  }

  li {
    list-style: none;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    height: 140px;
    width: 327px;
    left: 24px;
    margin: 0%;
    padding: 0%;
    color: #344563;
  }

  aside a {
    display: none;
  }

  .hamburger {
    display: inline;
    margin-left: 14rem;
    position: relative;
  }

  .description ul {
    width: 150px;
    height: 24px;
    display: flex;
    gap: 1rem;
    margin: 0%;
    padding: 0%;
    text-align: left;
  }

  .works-tonic {
    position: absolute;
    top: 130%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    width: 327px;
    height: 630px;
    left: calc(50% - 327px / 2);
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .project-title h2 {
    width: 295px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin: auto;
    color: #172b4d;
    text-align: left;
  }

  .small-title {
    display: flex;
    text-align: center;
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    position: static;
    width: 55px;
    height: 16px;
    top: 8px;
    padding: 0.9rem;
  }

  .list ul {
    display: flex;
    flex-direction: row;
    position: static;
    width: 200px;
    height: 16px;
    top: 8px;
  }

  .list li {
    list-style-type: disc;
    margin-left: 2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .describe-project {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    position: static;
    width: 295px;
    height: 76px;
    top: 92px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px;
  }

  .small-buttons ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    position: static;
    width: fit-content;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    border: #ebebff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-left: 1rem;
  }

  .small-buttons ul {
    display: flex;
    text-align: left;
    margin: 0%;
    padding: 0%;
  }

  .connect h4 {
    position: static;
    width: 117px;
    height: 24px;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px;
  }

  .java p {
    margin-left: 1.5rem;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .big-button {
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 50%;
    margin: 20px;
    color: #6070ff;
    font-size: 17px;
    font-weight: 900 bold;
    font-family: "Poppins", sans-serif;
  }

  .works-stories {
    position: absolute;
    top: 110%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    width: 327px;
    height: 630px;
    left: calc(50% - 327px / 2);
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .works-stories .project-title h2 {
    position: static;
    width: 295px;
    height: 90px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .aboutme {
    position: absolute;
    top: 220%;
    height: 899px;
    background-color: #fff;
  }

  .mytitle {
    position: static;
    width: 327px;
    height: 101px;
    margin-bottom: 3rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .describe-me {
    position: static;
    width: 327px;
    height: 144px;
    top: 113px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px;
  }

  .connect ul {
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    margin-left: 1rem;
  }

  .connect a {
    gap: 2rem;
    margin-right: 1rem;
  }

  .aboutme .big-button {
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 60%;
    margin: 20px;
  }

  .lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    height: 24px;
    left: 12px;
    right: 78px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .lang .dropdown {
    position: static;
    left: 25%;
    right: 25%;
    top: 37.5%;
    bottom: 37.5%;
  }

  .java {
    position: static;
    width: 343px;
    height: 66.72px;
    left: 12px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 12px;
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 1rem;
    padding: 0%;
  }

  .skills .dropdown {
    position: static;
    left: 25%;
    right: 25%;
    top: 37.5%;
    bottom: 37.5%;
  }

  hr {
    color: #000;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 90%;
    margin: auto;
    left: calc(82% - 327px / 2);
  }

  .programs ul {
    margin: 0%;
    padding: 0%;
  }

  .big-button:hover {
    background: #6070ff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 50%;
    margin: 20px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .footer {
    position: absolute;
    background-image: url(Contact\ me.png);
    top: 599%;
    width: fit-content;
    overflow: hidden;
  }

  .footer .footer-text {
    width: 327px;
  }

  .footer .footer-text h2 {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .footer .footer-text p {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
  }

  input {
    height: 48px;
    width: 327px;
    display: flex;
    align-items: center;
    color: #172b4d;
    border-radius: 10px;
    border: none;
  }

  input::placeholder {
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-indent: 10px;
  }

  .name {
    margin: 1rem;
  }

  .email {
    margin: 1rem;
  }

  textarea {
    margin: 1rem;
    height: 170px;
    width: 327px;
    border: none;
    border-radius: 10px;
    line-height: 40px;
    text-indent: 15px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-image: url(/contact\ form\ shapes-mobile@2x.png);
    position: absolute;
    top: 86%;
    right: -76%;
    z-index: 1
  }

  .overlay2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90%;
    right: -76%;
    z-index: 1
  }

  .overlay3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1%;
    right: -89%;
    z-index: 1
  }

  .overlay4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3%;
    right: -80%;
    z-index: 1
  }
}
